    <header class="head">
        <nav class="navbar">
            <ul class="links">
                <span class="head-title">
                    {% if user.is_authenticated %}
                    فرهنگسرای نواندیشان
                    {% else %}
                    جشنواره خوارزمی
                    {% endif %}
                </span>
                <li class="link"><a href="{% url 'home-page' %}" class="link-text">صفحه اصلی</a></li>
                <li class="link"><a href="{% url 'blog-page' %}" class="link-text">وبلاگ</a></li>
                {% comment %} <li class="link"><a href="" class="link-text">درباره ما</a></li> {% endcomment %}
                {% comment %} <li class="link"><a href="#" class="link-text">پشتیبانی</a></li> {% endcomment %}
                {% comment %} <li class="link"><a href="#" class="link-text">خدمات</a></li> {% endcomment %}
                <form method="GET" action="{% url 'global-search' %}">
                    <input type="submit" value="&#x1F50D;">
                    <input type="text" name="query" placeholder="جستجو...">
                </form>
                </form>
                <li class="auth login link"><a href="{% url 'login' %}" class="auth-text link-text">ورود</a></li>
                <li class="auth link"><a href="{% url 'signup' %}" class="auth-text link-text">ثبت نام</a></li>
            </ul>
        </nav>
    </header>